    <h1 class="h3 my-3">ログイン中: <%= current_user.name %> さん</h1>
    <div class="row">
        <div class="col-4">
        <%= link_to '新規タスクの投稿', new_task_path, class: 'btn btn-block btn-primary btn-lg' %>
        </div>
        
        <div class="col-8">
            <% @tasks.each do |task| %>
                <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
            <% end %>            
        </div>
    </div>