<div class="row">
    <div class="col-6 my-5">登録済の人はコチラ
        <%= link_to 'Log in!', "#", class: 'btn btn-primary btn-lg' %>
    </div>
    <div class="col-6 my-5"> 登録がまだの人はコチラ
        <%= link_to 'Sign up!', signup_path, class: 'btn btn-primary btn-lg' %>
    </div>
</div>


<h1>タスク一覧</h1>

<ul>
    <% @tasks.each do |task| %>
        <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
    <% end %>
</ul>

<%= link_to '新規タスクの投稿', new_task_path %>
